:root {

	/*Bio Block*/
	--bio-height: 155px;

}

/* Fonts */

@font-face {
	font-family: "Open Sans";
	src:url("Fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "InterUI";
	src:url("Fonts/InterUI/Inter (TTF)/Inter-Regular.ttf");
}

/* Basic HTML */

html, body {
	width: 100%;
	margin: 0px;
	background-color: bisque;
}

a {
	text-decoration: none;
	outline: 0;
}

img {
	outline: 0;
	border: 0;
}

#page {
	width: 1000px;
	height: 1414px;
	background-color: white;
	overflow: none;
	/*margin: 50px auto 50px auto;*/
	margin: 0px auto 0px auto;
}

/* Bio Block */

#bio {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: var(--bio-height);
	background-color: #414141;

}

#bioName {

	font-family: "InterUI", sans-serif;
	font-size: 2.4em;
	font-weight: 400;

	margin: 0px 0px 10px 0px;
	color: antiquewhite;

}

.bioInfo {

	font-family: "Open Sans", sans-serif;
	font-size: 1.0em;
	line-height: 1.5em;

	margin: 0px 0px 0px 0px;
	color: antiquewhite;

}

/* Main Block */

#mainBlock {
	width: 90%;
	margin: 22px auto 0px auto;
}

#introText {
	display: block;
	margin: 0px 0px 0px 0px;
	font-family: "InterUI", sans-serif;
	/*font-size: 0.95em;*/
	font-size: 0.87em;
	line-height: 1.5em;
	text-align: center;
}

.sectionHeading {
	font-family: "InterUI", sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 5px 0px;
}

.sectionRule {
	margin: 5px 0px 0px 0px;
}

.infoSection {
	display: flex;
	flex-direction: row;
	margin: 18px 0px 0px 0px;

	font-family: "InterUI", sans-serif;
	font-size: 0.95em;
	line-height: 1.5em;
}

.leftText {
	flex-grow: 2;
	flex-basis: 0;
	margin-right: 20px;
}

.rightText {
	flex-grow: 9;
	flex-basis: 0;
}

.indentedRightText {
	margin: 0px 0px 0px 0px;
	padding-left: 3em;
}

.indentedMargin {
	height: 4px;
}

#bottomBlock {
	display: flex;
	flex-direction: row;
}

#references {
	flex-basis: 0;
	flex-grow: 7;

	margin: 0px 10px 0px 0px;
}

#referencesBlock {
	display: flex;
	flex-direction: row;
}

.reference {
	flex-basis: 0;
	flex-grow: 1;
	margin: 5px 5px 5px 5px;

	font-family: "InterUI", sans-serif;
	font-size: 0.95em;
	line-height: 1.5em;
}

.reference h1 {
	font-size: 1.2em;
	margin: 15px 0px 5px 0px;
}

#keySkills {
	flex-basis: 0;
	flex-grow: 6;

	margin: 0px 0px 0px 10px;
}

#skills {
	font-family: "InterUI", sans-serif;
	font-size: 0.95em;
	line-height: 1.5em;
}

.skillsSection {
	/*display: flex;*/
	/*flex-direction: row;*/
	margin: 10px 0px 0px 0px;

	font-family: "InterUI", sans-serif;
	font-size: 0.95em;
	line-height: 1.5em;
}

.email {
	font-size: 0.8em;
}