:root {

	/*Header*/
	--header-height: 60px;
	--header-link-margin: 15px;
	--header-font-size: 20px;
	--header-font-color: #bfffff;
	--header-background-color: #24292e;

	/*Bio Block*/
	--bio-height: 600px;
	--bio-background-color: #222222;
	--bio-font-color: #bfffff;
	--bio-section-margin: 20px; /*Note that the actual margin is twice this*/
	--bio-info-block-width: 950px;
	--bio-info-block-height: 500px;

}

html, body {
	width: 100%;
	margin: 0px;
}

/* Header */

#header {
	background-color: var(--header-background-color);
	display: block;
	height: var(--header-height);
	width: 100%;
}

#headerLinkContainer {
	display: flex;
	justify-content: center;
	height: var(--header-height);
	margin: auto;
}

.headerLink {
	font-size: var(--header-font-size);
	line-height: var(--header-height);
	display: inline;
	color: var(--header-font-color);
	margin: 0px var(--header-link-margin) 0px var(--header-link-margin);
}

/* Bio Block */

#bioBackground {

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: var(--bio-height);
	background-color: var(--bio-background-color);

}

#bioInfoBlock {

	display: flex;

	width: var(--bio-info-block-width);
	height: var(--bio-info-block-height);
	/*background-color: #cccccc;*/

}

#bioProfile {

	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;
	flex-grow: 1;
	margin: 0px var(--bio-section-margin) 0px 0px;
	/*background-color: #cccccc;*/
	flex-basis: 0;

}

#bioProfileImage {
	width: 100%;
}

#bioProfileText {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	font-size: 18px;
	color: var(--bio-font-color)
}

#bioDescription {

	height: 100%;
	flex-grow: 2;
	margin: 0px 0px 0px var(--bio-section-margin);
	/*background-color: #cccccc;*/
	flex-basis: 0;

}

#bioDescriptionHeading {
	margin: 0px;
	padding: 10px;
	color: var(--bio-font-color)
}

#bioDescriptionRule {
	/*padding: 10px;*/
	color: var(--bio-font-color)
}

#bioDescriptionParagraph {
	margin: 0px;
	padding: 10px;
	font-size: 18px;
	color: var(--bio-font-color)
}